  
* {
    text-align: center;
    font-size: large;
}
button {
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
  font-weight: normal;
  border-radius: 8px;
}
button:disabled {
    background-color:coral;
}
.timer {
background-color: lightgray;
align-items: center;
display: flex;
justify-content: center;
}
.field {
    background-color: darkgrey;
    display: flex;
    border: 1px black;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
   flex-direction: column;
}
